.fa-github{
	transition: all .2s ease-in-out;
}
.fa-github:hover{
	color: #333;
	transform: scale(1.3);
}
.fa-facebook{
	transition: all .2s ease-in-out;
}
.fa-facebook:hover {
	color: #1877f2;
	transform: scale(1.3);
}
.fa-instagram{
	transition: all .2s ease-in-out;
}
.fa-instagram:hover {
	color: #c32aa3;
	transform: scale(1.3);
}
.fa-twitter{
	transition: all .2s ease-in-out;
}
.fa-twitter:hover {
	color: #1da1f2;
	transform: scale(1.3);
}
.fa-linkedin-in{
	transition: all .2s ease-in-out;
}
.fa-linkedin-in:hover {
	color: #0a66c2;
	transform: scale(1.3);
}
.fa-youtube{
	transition: all .2s ease-in-out;
}
.fa-youtube:hover {
	color: #ff0000;
	transform: scale(1.3);
}

i {
  letter-spacing: 10px;
  padding: 2cm 0cm 1cm 0cm;
  font-size: 49px;
}
